.navbar li{
    display: inline-block;
    padding: 0 65px;
    text-align: center;
    width: 33.3%;
}
.navbar{
    background: rgb(6, 22, 112);
    min-height: 70px;
    position: fixed;
    width: 71%;
    color: white;
    font-size: 15px;
}